body {
	margin-top: 70px;
}
.navbar-brand img {
	display: inline-block;
	height: 135%;
}

.odd {
	background-color: #E7E7E7;
}

.even {
	background-color: #F8F8F8;
}

.search-nav {
	border-bottom: 1px solid #428BCA;
	width: 100%
}